#cardso{
    -moz-column-count: 3;
    -moz-column-width: 40%;
    -moz-column-gap: 20%;
    -webkit-column-count: 3;
    -webkit-column-width: 40%;
    -webkit-column-gap: 20%;
    column-count: 3;
    column-width: 40%;
    column-gap: 20%,
}

.card  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    -moz-margin-inline-start: 10%;
    -webkit-margin-inline-start: 10%;
    -moz-margin-inline-end: 10%;
    -webkit-margin-inline-end: 10%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    display: inline-block;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #5ab74c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}